.header {
    background: #1F2937;
    display: flex;
    padding: 18px;
    align-items: center;
    justify-content: space-between
}

.logo {
    width: 150px;
    height: 70px;
    border-radius: 8px;
    padding-left: 50px;
}

.links{
    padding-right: 2cm;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.floor1{
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2cm;
}

.infohead {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    max-width: 300px;
    padding-left: 5cm;
}

.infobody {
    font-size: 18px;
    color: #F9FAF8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 300px;
    padding-left: 5cm;
    margin: 10px;
}


.place {
    width: 450px;
    height: 250px;
    padding-right: 4cm;
}

.signup1 {
    padding: 7px 17px;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    margin-left: 200px;
}

.img{
    border: solid 3px #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 100px
    
}



.services{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 32px;
    margin-top: 32px;
}

#middle{
    text-align: center;    
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 32px;
    
}

.info {
    max-width: 200px;
}

.text {
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
}


.words {
    font-size: 36px;
    font-family: "light italic" sans-serif;
    color: #1F2937;
    max-width: 500px;
    padding-left: 11cm;
    padding-top: 2cm;

}

#floor3 {
    background: #e5e7eb;
    text-align: center;
}

.wordsby{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 2cm;
    padding-left: 15cm;
}

#floor4{
    background: #3882f6;
    color: white;
    padding: 10px;
    max-width: 800px;
    max-height: 100px;
    border-radius: 8px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    
}

.container3{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    

}

.join {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.button1{
    padding: 7px 17px;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    border: 1px solid white;
}

.footer {
    height: 42px;
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}